:root {
    /*Primary Color */

    --Strong-cyan: #26c0ab;

    /* Neutral Colors */

    --Very-dark-cyan: #00494d;
    --Dark-grayish-cyan: #5e7a7d;
    --Grayish-cyan: #7f9c9f;
    --Light-grayish-cyan: #c5e4e7;
    --Very-light-grayish-cyan: #f4fafa;
    --White: #ffffff;

    /* font */
    font-family: "Space Mono", monospace;
    font-size: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    width: 100vw;
    background-color: var(--Light-grayish-cyan);
    display: flex;
    flex-direction: column;
}
.app h1 {
    font-size: 1.2rem;
    padding: 1rem 5rem;
    word-wrap: break-word;
    letter-spacing: 0.5rem;
    text-align: center;
    color: var(--Dark-grayish-cyan);
}
.app-container {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
}
label {
    font-size: 0.5rem;
    color: var(--Grayish-cyan);
    margin-bottom: 0.25rem;
}
.bill {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.bill input {
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    text-align: right;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    color: var(--Very-dark-cyan);
    font-family: "Space Mono", monospace;
    outline: none;
}
.bill::before {
    content: "";
    position: absolute;
    background-image: url(./images/icon-dollar.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 0.75rem;
    left: 0.5rem;
    top: 1.7rem;
}
.tip-percentage {
    display: flex;
    flex-direction: column;
}
.tip {
    display: none;
}
.tips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.5rem;
    margin-bottom: 1rem;
}
.tip-label {
    background-color: var(--Very-dark-cyan);
    font-size: 1rem;
    width: 6rem;
    padding: 0.25rem 0;
    text-align: center;
    color: var(--Very-light-grayish-cyan);
    border-radius: 5px;
}
.tip-label:hover {
    background-color: var(--Strong-cyan);
    color: var(--Dark-grayish-cyan);
}
.custom {
    display: block;
    background-color: var(--Very-light-grayish-cyan);
    color: var(--Dark-grayish-cyan);
    border: none;
    margin-bottom: 0.25rem;
    outline: none;
    font-family: "Space Mono", monospace;
}
.peopleAmount {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.peopleAmount input {
    background-color: var(--Very-light-grayish-cyan);
    border: none;
    text-align: right;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    color: var(--Very-dark-cyan);
    font-family: "Space Mono", monospace;
    outline: none;
}
.peopleAmount::before {
    content: "";
    position: absolute;
    background-image: url(./images/icon-person.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 0.75rem;
    left: 0.5rem;
    top: 1.7rem;
}
.results {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-dark-cyan);
    border-radius: 20px;
    padding: 1rem;
    row-gap: 1rem;
}
.tip-text-container {
    display: flex;
    flex-direction: column;
}
.tipAmount-container,
.total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tipAmount-container h3,
.total-container h3 {
    font-size: .75rem;
    color: var(--Very-light-grayish-cyan);
}
.tipAmount-container p,
.total-container p {
    font-size: 0.5rem;
    color: var(--Grayish-cyan);
}
.tipAmount-container h2,
.total-container h2 {
    font-size: 1rem;
    color: var(--Strong-cyan);
}
.results button{
    border: none;
    font-size: 1rem;
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    padding: .5rem;
    font-weight: 700;
    margin-top: .5rem;
}
